.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: var(--spacing12);
}
.avatarContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: var(--spacing12)
}

.avatarContainer p {
    margin-top: var(--spacing1);
}

.form {
    display: flex;
    flex-direction: column;
    width: 287px;
    gap: var(--spacing7);
}

.notificationsSection {
    margin-top: var(--spacing6);
    display: flex;
    flex-direction: column;
    gap: var(--spacing3);
}

.notificationsSection h3 {
    font-family: var(--font-gentium-plus);
    font-size: var(--text-lg);
    font-weight: 600;
    margin-bottom: var(--spacing2);
}

.notificationsSection label {
    display: flex;
    align-items: center;
    gap: var(--spacing2);
    cursor: pointer;
}

.notificationsSection input[type="checkbox"] {
    cursor: pointer;
}

.changeAvatarLabel {
    cursor: pointer;
}

.actionsDesktop {
    display: none;
}

.toolbarActions {
    display: flex;
    justify-content: space-between;
}

.toolbarActions > * {
  margin-bottom: var(--spacing4);

}

.toolbarActions > :nth-child(2) {
  background-color: var(--accent);
}

@media (--tablet){

    .profile {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    .contentContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        margin-top: var(--spacing22);
        
    }

    .avatarContainer {
        display: flex;
        align-items: flex-end;
        order: 2;
        margin-right: var(--spacing13);
        margin-top: 0;
        cursor: pointer;
    }

    .content{
        margin-top: 0;
        margin-left: var(--spacing13);
    }

    .actionsDesktop {
        display: block;
        width: 287px;
        margin-top: var(--spacing10);
    }

    .toolbarActions {
        display: none;
}
}