
.userAvatar {
    position: relative;
    background-color: var(--accent);
    border-radius: 50%;
    display: grid;
    color: var(--dark);
    font-weight: 700;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    font-size: var(--text-sm);

    &.highlight img {
        border: 1px solid var(--accent);
    }

    img {
        object-fit: cover;
        border-radius: 50%;
    }

    div {
        display: grid;
        place-items: center;
    }
}

@media (--tablet) {
    .userAvatar {
        font-size: initial;
    }
}