.feedSelect {
  margin: var(--spacing5) 0;
  background-color: var(--mid);
}

.primaryButton {
  width: 100%;
}

.errorText {
  color: var(--error);
  font-size: var(--text-base);
  line-height: 1.5;
  margin: 0;
}