.options {
  display: flex;
  flex-direction: column;
  gap: var(--spacing8);
  width: 100%;
}

.description {
  color: var(--white);
  font-size: var(--text-base);
  line-height: 1.5;
}

.feedSelect {
  margin: var(--spacing5) 0;
  background-color: var(--mid);
}

.continueWithSelectedFeedsBtn {
  width: 100%;
}

.errorText {
  color: var(--error);
  font-size: var(--text-base);
  line-height: 1.5;
}
