.description {
  color: var(--white);
  font-size: var(--text-base);
  line-height: 1.5;
}

.feedSelect {
  margin: var(--spacing5) 0;
  background-color: var(--mid);
}

.continueWithSelectedFeedsBtn {
  width: 100%;
}

.errorText {
  color: var(--error);
  font-size: var(--text-base);
  line-height: 1.5;
}

@media(--tablet) {
  .step {
    flex-direction: row;
  }
}
